h1,
h2,
h3,
p,
figure,
button {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img,
button {
  display: block;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: tomato;
}

.heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 900;
  text-align: center;
  color: gold;
  text-shadow: 2px 2px 4px black;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.field {
  display: flex;
  margin: 20px 50px 50px 50px;
}

.box {
  width: 156px;
  border: 1px solid black;
  margin: 0 auto;
  box-shadow: 1px 1px 2px black;
}

.item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
  transition: background-color 200ms linear;
}

.item:hover {
  background-color: rgb(252, 131, 110);
}

.btn-cross {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: gold;
  text-shadow: 1px 1px 2px black;
  background-color: teal;
  border-width: 1px;
  border-style: solid;
  border-color: gold;
  border-radius: 4px;
  box-shadow: 2px 2px 3px black;
  cursor: pointer;
  transition: background-color 200ms linear, box-shadow 200ms linear;
}

.btn-cross:hover,
.btn-cross:focus {
  background-color: rgba(0, 128, 128, 0.685);
  box-shadow: 1px 1px 2px black;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-height: 100px;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: bold;
  color: gold;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  background-color: teal;
  border-width: 4px;
  border-style: solid;
  border-color: gold;
  border-radius: 4px;
  box-shadow: 1px 1px 3px black;
  box-sizing: border-box;
}
